<!--Admin 로그인 페이지로 사용할 예정임-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AdminLogin</title>
</head>
<body>
    <form method="post" action="/adminPage/index.html" id="form_login">
        <label>아이디 :</label>
        <input type="text" id="t_id">
        <label>패스워드 :</label>
        <input type="password" id="t_pw">
        <input type="button" value="로그인" id="bt_login">
        <input type="button">
        <!--submit이랑 button차이 구별하는 법 정리하기-->
    </form>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script type="text/javascript">
//JQuery사용 안되서 이렇게 함...
//A : jquery CDN 안넣어서 그럼
$(document).ready(function(){
    $("#bt_login").click(function(){
        login();
    });
});


function login(){
    let t_id=document.t_id;
    let t_pw=document.t_pw;

    console.log(t_id, t_pw);
    /*
    let xhr = new XMLHttpRequest();
    xhr.open("POST", "rest/getid", true);
    xhr.setRequestHeader("Con")
    console.log("로그인");
    */
}
</script>
</html>